<h1>Listing drink_ingredients</h1>

<table>
  <thead>
    <tr>
      <th>Float</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drink_ingredients.each do |drink_ingredient| %>
      <tr>
        <td><%= drink_ingredient.measure %></td>
        <td><%= link_to 'Show', drink_ingredient %></td>
        <td><%= link_to 'Edit', edit_drink_ingredient_path(drink_ingredient) %></td>
        <td><%= link_to 'Destroy', drink_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink ingredient', new_drink_ingredient_path %>
